**Exercises**

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**What is 7 to the power of 4?**

In [ ]:
print(pow(7,4))

2401

**Split this string:**

In [ ]:
s = "Hi there Sam!"

**into a** **list**

In [ ]:
s = "Hi there Sam!"
s.split(" ")

['Hi', 'there', 'Sam!']

**Given the variables:**

In [1]:
planet = "Earth"
diameter = 12742

**Use .format() to print the following string:**

In [ ]:

planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of ", planet ," is ", diameter ,  " kilometers.")

The diameter of  Earth  is  12742  kilometers.

**Given this nested list, use indexing to grab the word "hello"**

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2])

['hello']

**What is the main difference between a tuple and a list?**

In [ ]:
tup =(1,2,3,4,5)
print("tuple==>",tup)
lis=[1,2,3,4]
print("List==>",lis)

tuple==> (1, 2, 3, 4, 5)
List==> [1, 2, 3, 4]

**Create a function that grabs the email website domain from a string in the form:**
**user@domain.com**

**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(text):
  x = text.split("@")
  print(x[-1])

In [ ]:
domain("user@domain.com")

domain.com

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [ ]:
def findDog(text):
    if 'dog' in text.lower():
        print("True")
    else:
        print("False")

In [ ]:
findDog("my dog name is tommy")

True

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [ ]:
def dogcount(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
    print(count)

In [ ]:
dogcount("dog is not a dog , dog is like a friend")

3

**Problem**

**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.**

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85,False)

'Big Ticket'

In [ ]:
caught_speeding(70,True)

'Small Ticket'

**Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [ ]:
emp = [10000,25000,12000,20000,18000]
for i in emp:
  if(i>=10000 & i<15000):
    print("total salary ==>",i )
    print("total expenditure ==>" , int(i*0.6)) 

  if(i>15000 & i<25000):
    print("total salary ==>",i )
    print("total expenditure ==>" , int(i*0.7)) 
  else:
    print("total salary ==>",i )
    print("total expenditure ==>" , int(i*0.8))

total salary ==> 10000
total expenditure ==> 6000
total salary ==> 10000
total expenditure ==> 7000
total salary ==> 25000
total expenditure ==> 15000
total salary ==> 25000
total expenditure ==> 17500
total salary ==> 12000
total expenditure ==> 7200
total salary ==> 12000
total expenditure ==> 8400
total salary ==> 20000
total expenditure ==> 12000
total salary ==> 20000
total expenditure ==> 14000
total salary ==> 18000
total expenditure ==> 10800
total salary ==> 18000
total expenditure ==> 12600

**Create two dictionaries in Python:**

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
d1 = { "Empid":1,"Empname":"BRINDHA","Basicpay": 30000}
d2 = {"deptname":"CSE" , "DEPTID": '19CSE55'}
d3 =  {**d1 , **d2}
print(d3)

{'Empid': 1, 'Empname': 'BRINDHA', 'Basicpay': 30000, 'deptname': 'CSE', 'DEPTID': '19CSE55'}